body{font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;}

#before_date{
    color:green;
    text-align: center;
}

#after_date{
    color:chocolate ;
    text-align: center;
}

body{background-color: aquamarine;}

img{
    border-radius: 20px;
    width: 40%;
    height: 40%;
}
